<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Group5_OnlineTourBookingSystem"
        tools:targetApi="31">
        <activity
            android:name=".activities.BookingDetailActivity"
            android:label="BookingDetail"
            android:exported="false" />
        <activity
            android:name=".activities.AddAccountActivity"
            android:label="AddAccount"
            android:exported="false" />
        <activity
            android:name=".activities.GuideListActivity"
            android:label="GuideList"
            android:exported="false" />
        <activity
            android:name=".activities.TourGuideDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EditCategoryActivity"
            android:label="EditCategory"
            android:exported="false" />
        <activity
            android:name=".activities.AddCategoryActivity"
            android:label="AddCategory"
            android:exported="false" />
        <activity
            android:name=".activities.ManageCategoryActivity"
            android:label="ManageCategory"
            android:exported="false" />
        <activity
            android:name=".activities.EditCityActivity"
            android:label="EditCity"
            android:exported="false" />
        <activity
            android:name=".activities.AddCityActivity"
            android:label="AddCity"
            android:exported="false" />
        <activity
            android:name=".activities.ManageCityActivity"
            android:label="ManageCity"
            android:exported="false" />
        <activity
            android:name=".activities.UserDetailActivity"
            android:label="UserDetail"
            android:exported="false" />
        <activity
            android:name=".activities.ManageAccountActivity"
            android:label="ManageAccount"
            android:exported="false" />
        <activity
            android:name=".activities.PaymentActivity"
            android:label="Payment"
            android:exported="false" />
        <activity android:name=".activities.AdminDashboardActivity"
            android:label="AdminDashboard"/>
        <activity
            android:name=".activities.EditProfileActivity"
            android:label="EditProfile"
            android:exported="false" />
        <activity
            android:name=".activities.UserProfileActivity"
            android:label="UserProfile"
            android:exported="false" />
        <activity
            android:name=".activities.LegalActivity"
            android:label="Legal"
            android:exported="false" />
        <activity
            android:name=".activities.ContactUsActivity"
            android:label="ContactUs"
            android:exported="false" />
        <activity
            android:name=".activities.HelpCenterActivity"
            android:label="HelpCenter"
            android:exported="false" />
        <activity
            android:name=".activities.EditTourActivity"
            android:label="EditTour"
            android:exported="false" />
        <activity
            android:name=".activities.AddTourActivity"
            android:label="AddTour"
            android:exported="false" />
        <activity
            android:name=".activities.HelpDetailActivity"
            android:label="HelpDetail"
            android:exported="false" />
        <activity
            android:name=".activities.ChangePasswordActivity"
            android:label="ChangePassword"
            android:exported="false" />
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:label="ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".activities.BookingActivity"
            android:label="Booking"
            android:exported="false" />
        <activity
            android:name=".activities.TourDetailActivity"
            android:label="TourDetail"
            android:exported="false" />
        <activity
            android:name=".activities.SignUpActivity"
            android:label="SignUp"
            android:exported="false" /> <!-- HomePage là màn hình khởi động -->
        <activity
            android:name=".activities.HomePage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>