<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Group5_OnlineTourBookingSystem"
        tools:targetApi="31">
              <activity
            android:name=".activities.TourGuideDashboardActivity"
            android:exported="false"/>
        <activity
            android:name=".activities.BookingDetailActivity"
            android:exported="false"
            android:label="BookingDetail" />
        <activity
            android:name=".activities.AddAccountActivity"
            android:exported="false"
            android:label="AddAccount" />
        <activity
            android:name=".activities.GuideListActivity"
            android:exported="false"
            android:label="GuideList" />
        <activity
            android:name=".activities.EditCategoryActivity"
            android:exported="false"
            android:label="EditCategory" />
        <activity
            android:name=".activities.AddCategoryActivity"
            android:exported="false"
            android:label="AddCategory" />
        <activity
            android:name=".activities.ManageCategoryActivity"
            android:exported="false"
            android:label="ManageCategory" />
        <activity
            android:name=".activities.EditCityActivity"
            android:exported="false"
            android:label="EditCity" />
        <activity
            android:name=".activities.AddCityActivity"
            android:exported="false"
            android:label="AddCity" />
        <activity
            android:name=".activities.ManageCityActivity"
            android:exported="false"
            android:label="ManageCity" />
        <activity
            android:name=".activities.UserDetailActivity"
            android:exported="false"
            android:label="UserDetail" />
        <activity
            android:name=".activities.ManageAccountActivity"
            android:exported="false"
            android:label="ManageAccount" />
        <activity
            android:name=".activities.WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AdminViewMessagesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PaymentActivity"
            android:exported="false"
            android:label="Payment" />

        <activity
            android:name=".activities.EditProfileActivity"
            android:exported="false"
            android:label="EditProfile" />
        <activity
            android:name=".activities.UserProfileActivity"
            android:exported="false"
            android:label="UserProfile" />
        <activity
            android:name=".activities.LegalActivity"
            android:exported="false"
            android:label="Legal" />
        <activity
            android:name=".activities.ContactUsActivity"
            android:exported="false"
            android:label="ContactUs" />
        <activity
            android:name=".activities.HelpCenterActivity"
            android:exported="false"
            android:label="HelpCenter" />
        <activity
            android:name=".activities.EditTourActivity"
            android:exported="false"
            android:label="EditTour" />
        <activity
            android:name=".activities.AddTourActivity"
            android:exported="false"
            android:label="AddTour" />
        <activity
            android:name=".activities.HelpDetailActivity"
            android:exported="false"
            android:label="HelpDetail" />
        <activity
            android:name=".activities.ChangePasswordActivity"
            android:exported="false"
            android:label="ChangePassword" />
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:exported="false"
            android:label="ForgotPassword" />
        <activity
            android:name=".activities.BookingActivity"
            android:exported="false"
            android:label="Booking" />
        <activity
            android:name=".activities.TourDetailActivity"
            android:exported="false"
            android:label="TourDetail" />
              <activity

            android:name=".activities.AdminDashboardActivity"
                  android:exported="false" />
        <activity
            android:name=".activities.SignUpActivity"
            android:exported="false"
            android:label="SignUp" /> <!-- HomePage là màn hình khởi động -->
        <activity
            android:name=".activities.HomePage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>